/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Playfair Display', serif;*/
body{
	margin: 0 auto;
	padding: 0;
	font-family: 'Playfair Display', serif;
	border: 5px solid #dddddd;
	width: 1400px;
}
.wrapper{
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
}
/*team start*/
.team{
	background-color: #111111;
	padding: 6% 0;
}
.t_head{
	text-align: center;
}
.h1_light{
	color: #ffffff;
}
.h1_bold{
	color: #ffffff;
}
.r_text a{
	text-decoration: none;
	list-style: none;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
}
.proin{
	color: #ffffff;
}
.circels{
	width: 21%;
	float: left;
	padding: 6%;
}
.round{
	width: 220px;
	height: 220px;
	border: 5px solid #ffffff;
	border-radius: 25%;
	text-align: center;
}
.round img{
	width: 220px;
	height: 220px;
	border-radius: 25%;
}
.r_text{
	text-align: center;
}
.h2{
	font-family: BrandonGrotesque-Bold;
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}
.h3{
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
}
/*team end*/